
body {
    background-color: rgb(48, 34, 64);
    color: rgb(0,0,0);
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic, bold;
	font-size: 90%;
	color: white;
}

